.contentContainer {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 2rem;
    height: calc(100vh - 5rem); //a altura desse container vai ser a altura total da tela (vh)
                                //menos 5 rem, porque 5 rem é a altura do cabeçalho
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero{
    max-width: 600px;

    >span {     //isso significa só um nível de span e não estilizar os outros spans
        font-size: 1.5rem;
        font-weight: bold;
    }

    h1{
        font-size: 4.5rem;
        line-height: 4.5rem;
        font-weight: 900;
        margin-top: 2.5rem;
        
        span{
            color: var(--cyan-500)
        }
    }

    p{
        font-size: 1.5rem;
        line-height: 2.25rem;
        margin-top: 1.5rem;

        span{
            color: var(--cyan-500);
            font-weight: bold;
        }
    }
    
    button{
        margin-top: 2.5rem ;
    }
}